venv/*
.idea/*
*.ckpt
*/.idea/*
*/.ipynb_checkpoints
*/*.json
data/
*.zip
*/data/
*/dl_hub
*/logs_*
#*/logs*
#*/runs
*.pyc
*/weights
session_18/MNIST
session_18/lightning_logs
session_18/mnist_data
.vscode
*.pem
phi2_projection_checkpoints
phi2_finetune_checkpoints*
Capstone/logs
Capstone_pretrain

